language: node_js

node_js:
  - '0.12'

script:
  - gulp test:ci

after_success:
  - npm install codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info

notifications:
  email:
    on_success: change
    on_failure: always
